body {
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.button:hover {
   background-color: rgb(153, 118, 31);
}